
.wrapper{
   
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
    
}


.WELCOME{
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size:7rem;
    text-shadow: 0 0 10px black;
    transition: .3s;
}







.WELCOME:hover{
    
    font-size:10rem;
    color: #ffeb3b;
    font-weight: 600;
    text-shadow: 0 0 10px #ff8c3b,
                    0 0 40px #ff8c3b,
                    0 0 80px #ff8c3b,
                    0 0 160px #ff8c3b,
                    0 0 240px #ff8c3b;

    -webkit-box-reflect: below -133px linear-gradient(transparent,#0008);
    text-shadow: 0 0 10px rgb(252, 81, 2);


}





.homeHeader{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 100vh;
    z-index: -1;
   
   
}





.fore ,
.background{
    
    position: absolute;
   
    top:200px;
    object-fit: cover;
}

.background{
    transform: translateZ(-20px) scale(4);
}

.fore{
    transform: translateZ(-15px) scale(2);
}





.content{
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.212));
    border:1px solid rgba(255, 255, 255, 0.18); box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    margin: 5%;
    
  
    display: inline-block;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;


    height: 80vh;
    transition: .3s;
    object-fit: hidden;

   
}




.jam{

    position: relative;
   height: 40vh;
   

  
    
    
}


.textContainer{
   
    
    text-align: center;
}




.Jamier{


    position: relative;
    text-align: center;
    color: #ffeb3b;
    font-weight: 600;
    text-shadow: 0 0 10px #ff8c3b,
                    0 0 40px #ff8c3b,
                    0 0 80px #ff8c3b,
                    0 0 160px #ff8c3b,
                    0 0 240px #ff8c3b;

    -webkit-box-reflect: below -70px linear-gradient(transparent,#0008);



    font-size:clamp(30px,6vw,80px);
  
}





.aboutJ{
    text-shadow: 0 0 10px black;
    font-size: clamp(10px,2vw,30px);
    color: rgb(255, 252, 252);
   text-align: center;
    position: relative;
    
}




@media (max-width:858){
    .jam{

       
        position: relative;
        height: 40vh;
        
    }

   
}


@media (max-width:866px){
    .jam{

       
        position: relative;
        height: 35vh;
        
    }

   
}

@media (max-width:752px){
    .jam{

       
        position: relative;
        height: 35vh;
        left: 30vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}


@media (max-width:752px){
    .jam{

       
        position: relative;
        height: 35vh;
        left: 27vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}


@media (max-width:638px){
    .jam{

       
        position: relative;
        height: 35vh;
        left: 22vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}



@media (max-width:580px){
    .jam{

       
        position: relative;
        height: 35vh;
        left: 18vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}

@media (max-width:498px){
    .jam{

       
        position: relative;
        height: 35vh;
        left: 14vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}

@media (max-width:422px){
    .jam{

       
        position: relative;
        height: 35vh;
        left: 10vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}


@media (max-width:368px){
    .jam{

       
        position: relative;
        height: 30vh;
        left: 7vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}

@media (max-width:300px){
    .jam{

       
        position: relative;
        height: 30vh;
        left: 4vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}


@media (max-width:230px){
    .jam{

       
        position: relative;
        height: 20vh;
        left: 4vh;
        
    }

    .content{
        display: flex;
    flex-wrap: wrap;
    }

   
}




